.achievement-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.col {
  flex-basis: 30%;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* Add transition for smooth hover effect */
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
}

.hix {
  font-size: medium;
  margin-bottom: 5px;
}

.parag1 {
  text-align: left;
  font-size: small;
  color: #555;
}

.par {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.circle {
  width: 60px;
  height: 60px; 
  background-color: #7a6a96;
  border-radius: 50%;
  align-self: self-start;
  margin: 1em 0em -4em 1em;
}

.topic {
  font-size: 1.8em;
  margin: 0 0 0.5em 2.2em;
  align-self: center;
  color: #000000;
  font-family: 'Lato';
}

.paragraph {
  margin: 0 0 1em 2.2em;
  align-self: center;
  font-family: 'Lato';
}

/* Hover effect for the button */
button:hover {
  background-color: #311d56; 
  color: white; 
}
