.megamenu__mainContainer {
    background-color: var(--color-blue-900);
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 0 1rem; 
  }
  
  .mega__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    z-index: 10;
    width: 100%;
    overflow-x: auto;
  }
  
  @media (max-width: 768px) {
    /* Media query for mobile responsiveness */
    .megamenu__mainContainer {
      height: auto; 
      padding: 0.5rem; 
    }
  
    .mega__menu {
      flex-wrap: wrap; 
      justify-content: center; 
      gap: 10px;
    }
  }